@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

body {
   background: url(https://img.freepik.com/free-vector/geometric-wallpaper-japanese-style_52683-34401.jpg?w=2000&t=st=1679351405~exp=1679352005~hmac=f4a896cd87a894dad72a554f9577c35604dcd409f00ff4f9351f2673f76c1bad) center / cover no-repeat fixed;
}

#container {
  position: relative;
  margin: 6em auto;
  width: 100%;
  min-width:500px;
  max-width: 1200px;
}

#bg {
  position: absolute;
  width: 65%;
  min-width: 300px;
  margin:  auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
z-index: -1;
 border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 2.5em;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}

#content {
  width: 50%;
  min-width: 300px;
  margin: 2em auto;
  Padding: 3em;
  font-family: Poppins;
  text-align: center;
  color: rgba(56, 71, 73, 1);
}

label {
  display: block;
  margin: 2em;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

label p{
  text-align: center;
  font-weight: normal;
  font-size: 0.75rem;
  font-style: italic;
  color: rgba(56, 71, 73, 0.7);
}

#help-me {
  font-weight: normal;
  display: block;
  font-size: 0.75rem;
  margin: 1em auto;
}

h1 {
  font-size: 1.8rem;
letter-spacing: 0.1rem;
margin: 1.5em auto;
}

.audience-group {
  font-size: 0.65rem;
  margin: 0 0 15px 0;
  border-radius:2.5em;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 2px 10px rgba(56, 71, 73, 0.15);
  backdrop-filter: blur(20px);
  padding: 0.6em;
  font-weight: normal;
  color:rgba(56, 71, 73, 0.7);
}

#description{
  font-size: 0.9rem;
}

fieldset{
  border: 4px double rgba(236,75,78, 50%);
  /* background-color: rgb(236,75,78); */
  border-radius: 2.5em;
  margin: 2em auto;
  backdrop-filter: blur(15px);
  padding: 1em;
}
fieldset legend {
  font-size: 1rem;
  letter-spacing: 0.3em;
  font-weight: bold;
  color: rgb(236,75,78);
  padding: 1em;
}

input[type="textarea"], input[type="text"], input[type="email"], input[type="number"], textarea  {
  margin: 10px auto 0 auto;
  width: 80%;
  height: 2em;
  border-radius:2.5em;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255,255,255,40%);
  box-shadow: 0 0 10px 1px rgba(56, 71, 73, 0.1);
  backdrop-filter: blur(20px);
  padding: 1.2em;
  text-align: center;
  display: block;
  color: #384749;
  font-family: Poppins;
  line-height: normal;
}


.long-input {
  height: 7em;
}

::placeholder, textarea {
  color: rgba(0, 0, 0, 0.25);
  font-style: italic;
  font-family: Poppins;
  font-size: 0.75rem;
  line-height: normal;
}

select {
  height: 3.8em;
  border-radius:2.5em;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255,255,255,40%);
  box-shadow: 0 0 10px 1px rgba(56, 71, 73, 0.1);
  backdrop-filter: blur(20px);
  padding: 1.2em;
  text-align: center;
  width: 80%;
  color: rgba(0, 0, 0, 0.25);
  font-style: italic;
  font-family: Poppins;
  font-size: 0.75rem;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select.round {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1.7em + 2px),
    calc(100% - 15px) calc(1.7em + 2px),
    calc(100% - 0.9em) 1.2em;
  background-size:3px 3px,
    5px 3px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

.audience-type{
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255,255,255,7%);
  box-shadow: 0 0 10px 1px rgba(56, 71, 73, 0.1);
  backdrop-filter: blur(20px);
  width: 80%;
  border-radius:20px;
  padding: 1.2em;
  margin: 10px auto 0 auto;

}

.to-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
}

.to-grid {
  display: grid;
	grid-gap: 0.8rem;
	grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr;
  justify-items: stretch;
  justify-content: space-evenly;
  padding: 2.5em;
}

.audience-type div,  .adjectives{
  font-weight: normal;
  font-size: 0.75rem;

}

.adjectives {
   border-radius:20px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 2px 10px rgba(56, 71, 73, 0.15)
}

input[type=checkbox] {
  position: relative;
	border: 1px solid rgba(56, 71, 73, 0.8);
	border-radius: 3px;
	background: rgba(255,255,255,1);
	cursor: pointer;
	line-height: 0;
	margin: 0 .6em 0 0;
	outline: 0;
	padding: 0 !important;
	vertical-align: text-top;
	height: 1.2em;
	width: 1.2em;
	-webkit-appearance: none;
  opacity: .3;
  color: rgba(255,255,255,0);
}


input[type=checkbox]:hover {
  opacity: 1;
}

input[type=checkbox]:checked {
  background-color: rgba(56, 71, 73, 0.8);
  opacity: 1;
}

input[type=checkbox]:checked + span {
  font-weight: bold;
}

input[type=checkbox]:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 3.5px;
  height: 9px;
  border: solid rgba(255,255,255,0.8);
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

input[type=file] {
  font-family: Poppins;
  font-size: 0.75rem;
  text-align: center;
  margin: 0 auto;
}

input[type="file"]::file-selector-button:hover, input[type=submit] {
background-color: rgba(236,75,78, .9);

    border: thin solid rgba(236,75,78, 1);
}

input::file-selector-button, input[type=submit] {
  font-family: Poppins;
  font-size: 0.75rem;
    font-weight: bold;
    color: rgba(255,255,255, 100%);
    background-color: rgba(236,75,78, .7);
    padding: 0.5em;
    border: thin solid rgba(236,75,78, .8);
    border-radius: 10px;
    display:block;
    margin: 0 auto;
    width: 100%;

}

input[type=submit] {
  height: 5em;
  border-radius: 30px;
  
  font-size: .9rem;
  background-color: rgba(236,75,78, .9);
  
  background: linear-gradient(-45deg, rgba(182, 47, 49, 1), rgba(205, 60, 62, 1), rgba(56, 71, 73, 1), rgba(236,75,78, 1), rgb(255, 114, 116));
  background-size: 600%;
  animation: anime 16s linear infinite;
}

#choose-file {
border-radius:20px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 2px 10px rgba(56, 71, 73, 0.15);
  padding: 1.5em;
  width: 80%;
  margin: 10px auto;
}

@-moz-keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 4em;
  background: #fff;
  border-radius: 2.5em;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: auto;
  color: #333;
  font-size: 1.3rem;
}
.popup .close {
  position: absolute;
  top: 0.6em;
  right: 1em;
  transition: all 200ms;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: rgba(236,75,78, 1);
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}